<a href="https://colab.research.google.com/github/pravinjaju1005/pravinjaju1005/blob/main/Simple_NSE_TRI_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q nsepython

In [2]:
from nsepython import index_total_returns
from datetime import datetime
import pandas as pd

In [3]:
# Getting all Index Values in a List

def fetch_index_symbols(date: str):
    url = f"https://archives.nseindia.com/content/indices/ind_close_all_{date}.csv"
    try:
        df = pd.read_csv(url)
        # Extract unique index symbols
        symbols = df['Index Name'].dropna().unique().tolist()
        return symbols
    except Exception as e:
        print(f"❌ Failed to fetch for {date}: {e}")
        return []

# Example usage
date = "01012025"  # 1st Jan 2025
index_symbols = fetch_index_symbols(date)

In [4]:
# Getting TRI Values for all the index

start_str = "2025-06-15"
# end_str   = "2025-06-27"
end_str   = datetime.now().strftime('%Y-%m-%d')

start_date_formatted = datetime.strptime(start_str, '%Y-%m-%d').strftime("%d-%b-%Y")
end_date_formatted = datetime.strptime(end_str, '%Y-%m-%d').strftime("%d-%b-%Y")

all_raw_dfs = []
for index_sym in index_symbols:
    try:
        df_single_index = index_total_returns(index_sym, start_date_formatted, end_date_formatted)
        if df_single_index is not None and not df_single_index.empty:
            all_raw_dfs.append(df_single_index)
    except Exception:
        pass

if not all_raw_dfs:
    print("No data could be fetched for any index.")
else:
    combined_raw_df = pd.concat(all_raw_dfs, ignore_index=True)

    combined_raw_df['Date'] = pd.to_datetime(combined_raw_df['Date'], errors='coerce')
    combined_raw_df['TotalReturnsIndex'] = pd.to_numeric(combined_raw_df['TotalReturnsIndex'], errors='coerce')
    combined_raw_df.dropna(subset=['Date', 'TotalReturnsIndex'], inplace=True)

    pivoted_df = combined_raw_df.pivot_table(index='Date', columns='Index Name', values='TotalReturnsIndex')
    pivoted_df.sort_index(ascending=False, inplace=True)

In [5]:
pivoted_df.head()

Index Name,NIFTY Alpha Low-Volatility 30,NIFTY Alpha Quality Low-Volatility 30,NIFTY Alpha Quality Value Low-Volatility 30,NIFTY LargeMidcap 250,NIFTY Midcap 100,NIFTY Midcap150 Quality 50,NIFTY Quality Low-Volatility 30,NIFTY SME EMERGE,NIFTY Smallcap 100,NIFTY100 Alpha 30,...,Nifty500 Equal Weight,Nifty500 LargeMidSmall Equal-Cap Weighted,Nifty500 Low Volatility 50,Nifty500 Momentum 50,Nifty500 Multicap 50:25:25,Nifty500 Multicap India Manufacturing 50:30:20,Nifty500 Multicap Infrastructure 50:30:20,Nifty500 Multicap Momentum Quality 50,Nifty500 Quality 50,Nifty500 Shariah
Date,,,,,,,,,,,,,,,,,,,,,
2025-06-27,35580.04,30333.48,30786.86,21374.37,80330.69,33518.40,23859.35,15042.15,24427.50,23786.79,...,18890.58,23541.18,29837.05,66486.55,21426.78,19476.72,18834.47,56271.89,28151.18,9125.14
2025-06-26,35449.86,30197.17,30668.54,21276.66,80117.30,33273.00,23775.18,14991.45,24205.92,23706.89,...,18772.03,23405.16,29781.21,66658.96,21306.09,19354.00,18730.26,55996.25,27974.69,9082.96
2025-06-25,35255.19,30079.04,30507.92,21101.59,79649.66,33168.48,23676.75,15016.13,24105.83,23405.07,...,18697.15,23258.11,29616.10,66522.91,21145.59,19212.61,18501.41,55923.95,27817.48,9040.08
2025-06-24,34930.31,29931.12,30400.13,20966.86,79298.91,33060.33,23523.97,14961.45,23751.19,23270.32,...,18481.89,23034.22,29381.03,65881.88,20953.48,19098.00,18287.71,55811.61,27723.67,8966.44
2025-06-23,34705.37,29818.14,30284.18,20850.24,78731.79,32908.86,23385.89,14877.95,23581.50,23173.82,...,18354.81,22889.17,29189.80,65642.39,20833.52,19002.95,18187.67,55674.22,27528.50,8933.61

In [6]:
pivoted_df['Nifty Alpha 50']

Date
2025-06-27    65023.65
2025-06-26    64855.80
2025-06-25    64777.81
2025-06-24    64491.23
2025-06-23    63958.34
2025-06-20    63368.97
2025-06-19    62438.55
2025-06-18    63348.28
2025-06-17    63342.70
2025-06-16    63402.11
Name: Nifty Alpha 50, dtype: float64